/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Colors */
@black: #000000;
@graylight: #AFAFAF;
@graydark: #545454;
@white: #ffffff;
@blue: #00768E;
@red: #D40000;
@green: #71B6AB;

@font-face {
    font-family: 'Portrait Script Alts';
    src: url('../fonts/portraitscript-bold.woff2') format('woff2'),
        url('../fonts/portraitscript-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }

}


.page-container {
    min-height: 85vh;
}

.section-title {
    border: 1px solid @black;
    display: inline-block;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    min-width: 700px;
}

.loader {
    background: rgba(229, 229, 229, 0.99);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-hidden {
    display: none;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @green;
    border-color: @green transparent @green transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.tab-pane {
    position: relative;
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
#sticker {
    .transition(all .3s ease-in-out);
}

.is-sticky #sticker {
    box-shadow: 0 0 16px black;
}

.the-header {
    background: @red;
    color: @white;
    padding: 1rem 2rem !important;

    & .header-mobile {
        align-items: center;
        justify-content: flex-end;
    }

    & .header-container {
        & .btn-subscribe {
            background: @white;
            border: 1px solid @white;
            color: @red;
            padding: 0.4rem 2rem;
            text-align: center;
            font-size: 0.9rem;
            text-transform: uppercase;
            font-weight: 600;
            .transition(all .3s ease-in-out);

            &:hover {
                border-color: #9A0000;
                background: #9A0000;
                color: @white;
            }
        }

        & .header-left-item {
            color: @white;
            .display(flex);
            align-items: center;
            justify-content: flex-end;
            font-size: 2.1rem;
            font-weight: 600;
            margin: 0;
            line-height: 2rem;

            & a {
                color: @white;
            }

            & img {
                padding-right: 15px;
                max-height: 42px;
            }

            & h4 {
                font-size: .9rem;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 0;
            }
        }

        & .header-right-item {
            .display(flex);
            align-items: center;
            justify-content: space-evenly;
        }

        & select {
            border-radius: 5px;
            padding: .2rem 2rem;
            background: @white;
            border: 1px solid @white;
            color: @red;
            text-transform: uppercase;
        }
    }
}

.menu-bars {
    display: block;
    height: 20px;
    width: 30px;
    cursor: pointer;

    & span {
        background: @white;
        display: block;
        width: 100%;
        height: 1px;
        margin-bottom: 10px;
        .transition(all .1s ease-in-out);
    }
}

.menu-bars-open {
    & span:nth-child(1) {
        display: none;
    }

    & span:nth-child(2) {
        margin-top: 5px;
        transform: rotate(45deg);
    }

    & span:nth-child(3) {
        margin-top: -10px;
        transform: rotate(-45deg);
    }
}

.header-mobile-container {
    color: @white;
    .display(flex);
    align-items: center;
    justify-content: flex-end;
    flex-flow: column;
    font-size: 2.1rem;
    font-weight: 600;
    margin: .8rem 0.5rem;
    margin-bottom: 0;
    line-height: 2rem;
    .transition(all .3s ease-in-out);

    & .btn-subscribe {
        background: @white;
        border: 1px solid @white;
        color: @red;
        padding: 0.4rem 2rem;
        margin-top: .5rem;
        margin-bottom: .5rem;
        text-align: center;
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 600;
        .transition(all .3s ease-in-out);

        &:hover {
            border-color: #9A0000;
            background: #9A0000;
            color: @white;
        }
    }

    & .mobile-number {
        .display(flex);
        align-items: center;
        justify-content: flex-end;
    }

    & a {
        color: @white;
    }

    & img {
        padding-right: 15px;
        max-height: 42px;
    }

    & h4 {
        font-size: .9rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 0;
    }

    & select {
        margin-top: .5rem;
        font-size: 1rem;
        border-radius: 5px;
        padding: .2rem 2rem;
        background: @white;
        border: 1px solid @white;
        color: @red;
        text-transform: uppercase;
    }
}

.header-mobile-hidden {
    display: none;
}

/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    background: @graydark;
    color: @graylight;
    padding: 2.4rem 0;

    & .footer-item {
        & #sidebar-footer1 {
            text-align: center;
            list-style: none;
            padding: 0;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 4rem;
            margin-bottom: 0;
        }

        & #sidebar-footer2 {
            text-align: center;
            list-style: none;
            padding: 0;
        }

        & #sidebar-footer3 {
            text-align: center;
            list-style: none;
            padding: 0;
        }

        & .widget {
            & .widgettitle {
                font-size: 1rem;
                font-weight: 300;
                margin-top: 1rem;
                margin-bottom: 1.2rem;
            }

            & .textwidget img:nth-child(2) {
                margin-left: 15px;
            }

            & .textwidget img:nth-child(3) {
                margin-left: 15px;
            }
        }
    }

    & .footer-copy {
        border-top: 2px solid @graylight;
        padding: 1rem 0;
        margin: 1rem;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;


        & h5 {
            font-size: 1.35rem;
            font-weight: 300;
            margin: .5rem 0;
        }
    }
}

/* --------------------------------------------------------------
3.- LANDING
-------------------------------------------------------------- */

/* SLIDER SECTION */
.the-slider {
    & .slider-container {
        padding: 0;
    }



    & .slider-item {
        position: relative;
        background-size: cover !important;
        background-position: center right !important;
        padding: 2rem;
        min-height: 70vh;

        & img {
            max-width: 300px;
        }

        & .slider-image {
            & img {
                max-width: 100%;
            }
        }

        & .slider-text-button {
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
            padding: .7rem 1rem;
            font-size: 1.5rem;
            font-weight: 600;
            color: gray;
            font-style: italic;
            display: inline-block;

            & img {
                max-width: 50px;
                margin-right: 10px;
                display: inline-block;
            }
        }

        & h1 {
            color: #73727A;
            font-size: 2.9rem;
            font-weight: 600;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }

        & h4 {
            color: @red;
            font-size: 2.5rem;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 3.5rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }



        & .slider-buttons {
            padding: 2rem 0;
            padding-bottom: 0;
            text-align: left;

            & .btn-slider {
                background: @blue;
                color: @white;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 1px;
                font-size: 1.2rem;
                margin: 0 0.5rem;
                margin-left: 0;
                padding: 0.7rem 3.5rem;
                .transition(all .3s ease-in-out);

                &:hover {
                    background: #004857;
                }
            }

            & a:last-child {
                background: @red;

                &:hover {
                    background: #9A0000;
                }
            }
        }

        & .inverted {
            text-align: right !important;

            & img {
                margin: 0 auto;
                margin-right: 0;
            }

            & h1 {
                text-align: right !important;
            }

            & h4 {
                margin: 1rem auto;
                margin-right: 0;
            }

            & .slider-buttons {
                padding: 2rem 0;
                padding-bottom: 0;
                text-align: right;

                & .btn-slider {
                    margin: 0 0.5rem;
                    margin-right: 0;
                    padding: 0.7rem 3.5rem;
                }
            }
        }
    }

    & .inverted {
        background-position: center left !important;
    }
}

/* HOW IT WORKS SECTION */
.the-works {
    background-size: cover !important;
    background-position: center center !important;
    padding: 5rem 1rem;
    text-align: center;

    & .works-container {
        & .section-title {
            border-color: @red;
            color: @green;
            min-width: 430px;
        }

        & .works-description {
            font-size: 1.5rem;
            padding: 1rem 7.5rem;
            padding-bottom: 1.5rem;
        }
    }

    & .works-items-container {
        & .works-item {
            font-size: 1.1rem;
            font-weight: 400;
            letter-spacing: 0;
            padding: 0;

            & a {
                font-weight: 600;
                color: @red;
            }

            & strong {
                font-weight: 700;
            }

            & img {
                margin-bottom: 1.2rem;
            }
        }
    }

    & .works-buttons-container {
        padding: 1rem;

        & img {
            padding: 0 1rem;
        }
    }

    & .works-cta-container {
        padding-top: 2rem;
        text-align: center;

        & .btn-blog {
            background: @red;
            color: @white;
            padding: 0.5rem 3rem;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .5rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: #9A0000;
            }
        }
    }
}

/* PLANS SECTION */
.the-plans {
    background: #D2E4E4;
    padding: 5rem 1rem;
    padding-bottom: 2rem;
    text-align: center;

    & .plans-container {
        & .section-title {
            background: @white;
            border-color: @red;
            color: @green;
        }

        & .plans-description {
            font-size: 1.5rem;
            padding: 1rem 7.5rem;
            padding-bottom: 1.5rem;
        }
    }

    & .plans-items-container {
        padding: 3rem 1rem;
        padding-bottom: 2rem;
    }

    & .plans-item {

        & .plans-item-content {
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 15px 20px #909090;
        }

        & .plans-item-picture {
            position: relative;
            background: @white;
            overflow: hidden;

            & .plans-item-best {
                background: @red;
                color: @white;
                position: absolute;
                top: 26px;
                left: -44px;
                transform: rotate(-37deg);
                padding: 0.5rem 5rem;
                font-size: 0.9rem;
            }

            & img {
                width: 100%;
            }
        }

        & .plans-item-title {
            background: red;
            color: @white;
            padding: 0.8rem;

            & h2 {
                margin: 0;
                font-size: 1.3rem;
            }
        }

        & .plans-item-features {
            background: @white;
            padding: 1rem;
            .display(flex);
            flex-flow: column;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;

            & p {
                display: inline-block;
                margin: .3rem 1.5rem;
                border-bottom: 1px dotted black;
            }
        }

        & .plans-item-price {
            background: #ECECEC;
            padding: 0.5rem;
            font-size: 0.8rem;
            font-weight: 600;

            & h4 {
                color: @red;
                font-size: 2rem;
                font-weight: 600;
                letter-spacing: 2px;
                margin: 1px;
                margin-top: 0;
            }
        }

        & .plans-item-button {
            background: @white;
            padding: 0.8rem;

            & .btn-plans {
                padding: .8rem 1rem;
                border-radius: 0;
                color: @red;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-style: italic;
                border: 0;
                border-top: 1px solid @red;
                border-bottom: 1px solid @red;

                & img {
                    max-width: 45px;
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        & .plans-item-competitors {
            background: #C5C5C5;
            padding: 0.9rem;
            font-size: .7rem;
            color: @white;
        }

        &:nth-child(1) {
            margin-right: -55px;

            & .plans-item-title {
                background: @green;
            }

            & .plans-item-price {

                & h4 {
                    color: @green;
                }
            }

            & .plans-item-button {

                & .btn-plans {
                    color: @green;
                    border-color: @green;
                }
            }
        }

        &:nth-child(2) {
            margin-top: -20px;
            z-index: 10;
        }

        &:nth-child(3) {
            margin-left: -55px;

            & .plans-item-title {
                background: @blue;
            }

            & .plans-item-price {

                & h4 {
                    color: @blue;
                }
            }

            & .plans-item-button {

                & .btn-plans {
                    color: @blue;
                    border-color: @blue;
                }
            }
        }
    }

    & .plans-description {
        font-size: 1.2rem;
    }
}

/* CATALOG SECTION */
.the-catalog {
    background: #DFEDEE;
    padding: 5rem 1rem;
    text-align: center;

    & .catalog-container {
        & .section-title {
            background: @white;
            border-color: @red;
            color: @green;
        }

        & .catalog-description {
            font-size: 1.5rem;
            padding: 1rem 7.5rem;
            padding-bottom: 1.5rem;
        }
    }

    & .catalog-items-container {
        & .nav {
            border-bottom: 0 !important;

            & .nav-item {
                & .nav-link {
                    background: #F0F0F0;
                    color: @black;
                    min-width: 190px;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    border: 1px solid #e2e2e2;
                    border-bottom: 0;

                    &:hover {
                        background: @green;
                        color: @white;
                    }
                }

                & .active {
                    background: #E5E5E5;
                    border-bottom: 1px solid #E5E5E5;
                    color: @green;
                    font-weight: 600;
                    z-index: 10;
                }
            }
        }

        & .tab-content {
            background: #e5e5e5;
            padding: 2rem 6rem;
            padding-bottom: 1rem;
            border: 0;
            border-radius: 15px;
            box-shadow: 0 -2px 16px #bfbfbf;

            & .product-item {
                cursor: pointer;

                & img {
                    border: 2px solid #e5e5e5;
                    .transition(all .3s ease-in-out);

                    &:hover {
                        .transform(scale(1.005));
                        border-color: #bababa;
                    }
                }

                & h3 {
                    color: @green;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-top: 1.5rem;
                    margin-bottom: 0;
                }
            }

            & .product-internal-slider .owl-stage-outer {
                max-height: 310px;
            }

            & .owl-dot .active span {
                background: darkorange !important;
            }

            & .owl-prev {
                color: darkorange !important;
                position: absolute;
                top: 30px;
                left: -60px;
                font-size: 6rem !important;
                background: none transparent !important;
                outline: 0 !important;

                &:focus {
                    outline: 0 !important;
                }

                &:active {
                    outline: 0 !important;
                }

                &:hover {
                    outline: 0 !important;
                }

                &:visited {
                    outline: 0 !important;
                }
            }

            & .owl-next {
                color: darkorange !important;
                position: absolute;
                top: 30px;
                right: -60px;
                font-size: 6rem !important;
                background: none transparent !important;
                outline: 0 !important;

                &:focus {
                    outline: 0 !important;
                }

                &:active {
                    outline: 0 !important;
                }

                &:hover {
                    outline: 0 !important;
                }

                &:visited {
                    outline: 0 !important;
                }
            }
        }
    }

    & .catalog-description {
        font-size: 1.2rem;
    }

    & .catalog-button-container {
        padding: 3rem 1rem;
        padding-bottom: 0rem;
        text-align: center;

        & .btn-catalog-modal {
            background: @red;
            color: @white;
            padding: 0.5rem 3rem;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .5rem;
            .transition(all .3s ease-in-out);

            &:hover {
                color: @white;
                background: #9A0000;
            }
        }
    }
}

/* BLOG SECTION */
.the-blog {
    background-size: cover !important;
    background-position: center center !important;
    padding: 5rem 1rem;
    text-align: center;

    & .blog-container {
        & .section-title {
            background: @white;
            border-color: @red;
            color: @green;
        }
    }

    & .blog-buttons-container {
        padding-top: 2rem;
        text-align: center;

        & .btn-blog {
            background: @red;
            color: @white;
            padding: 0.5rem 3rem;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .5rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: #9A0000;
            }
        }
    }

    & .blog-items-slider {
        background: #e5e5e5;
        padding: 2rem 4rem;
        padding-bottom: 1rem;
        border: 0;
        border-radius: 15px;
        box-shadow: 0 -2px 16px #bfbfbf;

        & .blog-item {
            & .blog-text {
                padding: 1rem;
                padding-bottom: 0;
                text-align: justify;
                font-size: .95rem;

                & h3 {
                    font-size: 1.1rem;
                    line-height: 1.8rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            & img {
                border: 3px solid @white;
            }
        }

        & .owl-prev {
            color: darkorange !important;
            position: absolute;
            top: 25%;
            left: 15px;
            font-size: 6rem !important;
            background: none transparent !important;
            outline: 0 !important;

            &:focus {
                outline: 0 !important;
            }

            &:active {
                outline: 0 !important;
            }

            &:hover {
                outline: 0 !important;
            }

            &:visited {
                outline: 0 !important;
            }
        }

        & .owl-next {
            color: darkorange !important;
            position: absolute;
            top: 25%;
            right: 15px;
            font-size: 6rem !important;
            background: none transparent !important;
            outline: 0 !important;

            &:focus {
                outline: 0 !important;
            }

            &:active {
                outline: 0 !important;
            }

            &:hover {
                outline: 0 !important;
            }

            &:visited {
                outline: 0 !important;
            }
        }
    }
}

/* HERO SECTION */
.the-hero {
    background-size: cover !important;
    background-position: center center !important;
    padding: 5rem 1rem;
    text-align: center;

    & .hero-container {
        & .section-title {
            background: @white;
            border-color: @red;
            color: @green;
        }
    }

    & .hero-items-container {
        padding: 2rem 1rem;

        & .hero-item {
            text-align: justify;
            font-size: 1.1rem;
        }
    }

    & .hero-cta-container {
        padding-top: 2rem;
        text-align: center;

        & .btn-blog {
            background: @red;
            color: @white;
            padding: 0.5rem 3rem;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: .5rem;
            .transition(all .3s ease-in-out);

            &:hover {
                background: #9A0000;
            }
        }
    }
}

/* MODAL SECTION */
.fancybox-content {
    padding: 0 !important;
    max-width: 991px;


    & .modal-product-text {
        padding: 1rem 1.5rem;
        position: relative;

        & .modal-product-text-content {
            padding: 2rem 0;
            padding-bottom: 1rem;

            & .modal-btn-container {
                width: 92%;
                position: absolute;
                bottom: 30px;

                & span {
                    display: block;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }

            & .btn-red {
                width: 100%;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                background: @red;
                color: @white;
                display: block;
                text-align: center;
                border: 0;
                padding: 0.8rem;
                margin-top: .5rem;
                .transition(all .3s ease-in-out);
                outline: none !important;

                &:active {
                    outline: none;
                }

                &:visited {
                    outline: none;
                }

                &:focus {
                    outline: none;
                }

                &:focus-within {
                    outline: none;
                }

                &:hover {
                    outline: none;
                    background: #9A0000;
                }
            }

            & h2 {
                font-size: 2.6rem;
                font-weight: 700;
                margin-bottom: 1.2rem;
            }

            & .category-container {
                font-family: 'Portrait Script Alts';
                font-weight: 600;
                font-size: 3rem;
                margin-top: -1rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

.widget_flowerclub_social a {
    margin: 0 1.5rem;
    font-size: 2.3rem;
    color: #a6a6a6;
    display: inline-block;
    .transition(all .3s ease-in-out);

    &:hover {
        color: @green;
    }
}


.app-gallery-btn {
    height: 65px;
    width: 175px;
    background-size: 350px !important;
    background-repeat: no-repeat !important;
    display: inline-block;
    margin: 0 1rem;
}

.app-gallery-btn-apple {
    background: url(../images/footer-app-store.png);

    &:hover {
        background-position: -175px 0;
    }
}

.app-gallery-btn-google {
    background: url(../images/footer-google-store.png);

    &:hover {
        background-position: -175px 0;
    }
}


.app-gallery-btn-apple-esp {
    background: url(../images/footer-app-store-esp.png);

    &:hover {
        background-position: -175px 0;
    }
}

.app-gallery-btn-google-esp {
    background: url(../images/footer-google-store-esp.png);

    &:hover {
        background-position: -175px 0;
    }
}

.body-app-gallery-btn {
    height: 60px;
    width: 210px;
    display: inline-block;
    margin: 1rem;
    background-size: 420px !important;
    background-repeat: no-repeat !important;
}

.body-app-gallery-btn-1 {
    background: url(../images/body-google-store.png);

    &:hover {
        background-position: -210px 0;
    }
}

.body-app-gallery-btn-2 {
    background: url(../images/body-app-store.png);

    &:hover {
        background-position: -210px 0;
    }
}

.body-app-gallery-btn-1-esp {
    background: url(../images/body-google-store-esp.png);

    &:hover {
        background-position: -210px 0;
    }
}

.body-app-gallery-btn-2-esp {
    background: url(../images/body-app-store-esp.png);

    &:hover {
        background-position: -210px 0;
    }
}


.sub-category-container {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;

    & a {
        cursor: pointer;
        padding: 0 1rem;
        border-right: 3px solid @green;
    }

    & a:last-child {
        border-right: 0;
    }

}

.catalog-modal-text {
    font-size: 1rem;
}

.modal-catalog .modal-body {
    padding: 0 0.5rem;
    background: #4E5565;

    & .close {
        padding: 0.5rem 1rem;
        padding-bottom: 0;
        color: @white;
    }
}

#catalog-embed {
    max-width: 99%;
    margin: 0 auto;
}

.form-select {
    margin-bottom: 2rem;
    border-radius: 0;
    border: 1px solid @red;
    height: auto;
    font-size: 1rem;
    max-height: unset;
    padding: 0.5rem;
}


.slider-form-container {
    padding: 3rem;

    & h2 {
        color: @blue;
        font-size: 1.6rem;
        text-align: justify;
        line-height: 2.8rem;
    }

    & h3 {
        font-size: 1.3rem;
        line-height: 1.8rem;
        font-weight: 300;
        text-align: justify;
    }

    & .form-mailchimp-modal {
        margin-top: 1rem;

        & .custom-form-control {
            position: relative;

            & .custom-form-control-icon {
                position: absolute;
                top: 12px;
                left: 12px;
                width: 20px;
                text-align: center;
                font-size: 1.2rem;
                z-index: 9;
            }


            &:after {
                content: '*';
                color: @red;
                position: absolute;
                top: 0px;
                right: 5px;
                font-size: 1.5rem;
                display: block;
                z-index: 9;
            }
        }

        & input {
            font-size: 1rem;
            border: 1px solid gray;
            border-radius: 0;
            margin-top: 1rem;
            padding: 1.6rem 2.5rem;
            max-height: unset;
            display: block;
        }

        & small {
            color: @red;
            font-weight: 600;
        }

        & .btn-submit {
            background: @red;
            color: @white;
            display: block;
            width: 100%;
            margin-top: 1rem;
            font-size: 1.2rem;
            padding: 0.8rem 0rem;
            border-radius: 0;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

}

.modal-custom-size {
    border-radius: 0;
    max-width: 590px;

    & .modal-body {
        padding-bottom: 0;
    }
}

.custom-mailchimp-connector-response {
    padding: 1rem 0;
    padding-bottom: 0;
    text-align: center;

    & h2 {
        text-align: center;
    }

    & h4 {
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 0;
    }
}


.btn-share {
    position: relative;
    background: @red  !important;
    overflow: hidden;
    min-width: 230px;
    min-height: 52px;
    .transition(all .3s ease-in-out);

    & span {
        opacity: 1;
        position: absolute;
        top: 12px;
        left: 0;
        width: 100%;
        .transition(all .3s ease-in-out);
    }

    & .sharer-buttons {
        position: absolute;
        top: 12px;
        left: -140px;
        font-size: 1.2rem;
        .transition(all .3s ease-in-out);

        & a {
            padding: 0 .5rem;
            color: @white;

            &:hover {
                color: @blue;
            }

            &:last-child {
                background: none !important;
            }
        }

    }

    &:hover {
        & span {
            opacity: 0;
        }

        & .sharer-buttons {
            left: 40px;
        }
    }
}

.btn-modal-slider {
    background: @blue  !important;
}

.thanks-page-container {
    background-size: cover !important;
    background-position: center center !important;
    color: @white;
    text-align: center;

    & h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.8rem;
        margin-top: 2rem;
    }

    & h2 {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }
}

.row-thanks {
    min-height: 85vh;
}


.social-container {
    margin: 1.8rem 0;

    & a {
        background: @red;
        border-radius: 100%;
        display: inline-block;
        height: 55px;
        width: 55px;
        font-size: 1.5rem;
        padding-top: 0.6rem;
        margin: 0 0.5rem;
        color: @white;

        &:hover {
            background: @blue;
        }
    }

}


.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
