/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';

/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {
    .the-slider .slider-item h1 {
        font-size: 2.9rem;
    }

    .the-slider .slider-item h4 {
        font-size: 2.5rem;
    }
}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .the-slider .slider-item {
        min-height: 63vh;
    }

    .the-slider .slider-item h1 {
        font-size: 2.1rem;
    }

    .the-slider .slider-item h4 {
        font-size: 2.7rem;
    }

    .the-slider .slider-item .slider-buttons .btn-slider {
        padding: 0.5rem 2.5rem;
    }

    .the-slider .slider-item .inverted .slider-buttons .btn-slider {
        padding: 0.5rem 2.5rem;
    }

    .btn-share {
        min-width: 193px;
        min-height: 45px;
    }

    .btn-share span {
        top: 8px;
    }

    .btn-share .sharer-buttons {
        top: 8px;
    }

    .btn-share:hover .sharer-buttons {
        left: 22px;
    }


}

@media (max-width: 1366px) {
    .the-slider .slider-item h1 {
        font-size: 2rem;
    }

    .the-slider .slider-item h4 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media (max-width: 1280px) {
    .the-slider .slider-item h1 {
        font-size: 2.3rem;
    }

    .the-slider .slider-item h4 {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }

    .the-catalog .catalog-items-container .nav .nav-item .nav-link {
        min-width: 165px;
        font-size: 1.1rem;
    }

    .btn-share {
        min-width: 185px;
        min-height: 45px;
    }

    .btn-share:hover .sharer-buttons {
        left: 20px;
    }
}

@media (max-width: 1170px) {

    .the-slider .slider-item h1 {
        font-size: 1.7rem;
        line-height: 2.3rem;
    }

    .the-header .header-container .header-left-item img {
        padding-right: 10px;
        max-height: 50px;
    }

    .the-header .header-container .header-left-item h4 {
        font-size: 1rem;
    }

    .the-header .header-container .header-left-item {
        font-size: 2.2rem;
    }

    .the-header .header-container .btn-subscribe {
        padding: 0.4rem 1rem;
        font-size: 0.8rem;
    }

    .the-header .header-container select {
        padding: 0.25rem 2rem;
        font-size: .9rem;
    }

    .the-footer .footer-copy h5 {
        font-size: 1.15rem;
        margin: 0.2rem 0;
    }

    .the-works .works-container .works-description {
        font-size: 1.2rem;
        padding: 0rem 4rem;
        padding-bottom: 1rem;
    }

    .the-plans .plans-item .plans-item-button .btn-plans {
        padding: .8rem 3.5rem;
    }

    .the-plans .plans-items-container {
        padding: 3rem 0rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 1024px) {
    .the-header {
        padding: 1rem !important;
    }

    .the-header .header-container .btn-subscribe {
        padding: 0.4rem 0.5rem;
        font-size: 0.8rem;
    }

    .the-header .header-container select {
        padding: 0.3rem 1.3rem;
        font-size: 0.8rem;
    }

    .the-header .header-container .header-left-item h4 {
        font-size: 0.6rem;
        letter-spacing: 1.7px;
    }

    .the-header .header-container .header-left-item {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .the-header .header-container .header-left-item img {
        max-height: 35px;
        margin-top: -10px;
    }

    .the-slider .slider-item h1 {
        font-size: 1.8rem;
    }

    .the-slider .slider-item h1 strong {
        font-size: 1.1rem;
    }

    .the-slider .slider-item h4 {
        font-size: 1.7rem;
        line-height: 2.4rem;
    }

    .the-slider .slider-item .slider-buttons .btn-slider {
        padding: 0.5rem 1.4rem;
        font-size: 1rem;
    }

    .the-slider .slider-item .inverted .slider-buttons .btn-slider {
        padding: 0.5rem 1.4rem;
        font-size: 1rem;
    }

    .fancybox-content {
        max-width: unset;
    }

    .btn-share {
        min-width: 145px;
        min-height: 42px;
    }

    .btn-share .sharer-buttons {
        top: 5px;
    }

    .btn-share .sharer-buttons a {
        padding: 0 0.3rem;
        color: #ffffff;
    }

    .btn-share:hover .sharer-buttons {
        left: 10px;
    }
}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    #sticker-sticky-wrapper {
        height: auto !important;
    }

    .modal-product-image img {
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }

    .modal-product-text-content {
        min-height: 400px;
    }

    .the-plans .plans-items-container {
        padding: 3rem 0rem;
        padding-bottom: 2rem;
    }

    .the-slider .slider-item {
        min-height: unset;
        padding: 0;
        background: none #FFF !important;
    }

    .the-slider .slider-item .slider-image img {
        max-width: 100% !important;
        height: auto !important;
        width: 100% !important;
    }

    .slider-text {
        padding: 2rem;
        text-align: center;
    }

    .the-slider .slider-item h1 {
        text-align: center;
    }

    .the-slider .slider-item h1 strong {
        font-size: 1.8rem;
    }

    .the-slider .slider-item .slider-buttons {
        padding: 1rem 0;
        padding-bottom: 0;
        text-align: center;
    }

    .the-slider .slider-item h4 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .the-slider .slider-item .inverted {
        text-align: center !important;
    }

    .the-slider .slider-item .inverted .slider-buttons {
        padding: 1rem 0;
        padding-bottom: 0;
        text-align: center;
    }

    .the-slider .slider-item img {
        margin: 0 auto;
    }

    .the-slider .slider-item .inverted img {
        margin: 0 auto;
        margin-right: auto;
    }

    .the-slider .slider-item .inverted h1 {
        text-align: center !important;
    }

    .the-plans .plans-item .plans-item-button .btn-plans {
        padding: .8rem 2.5rem;
    }

    .the-catalog .catalog-items-container .tab-content .product-item h3 {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    .hero-item img {
        display: block;
        margin: 0 auto;
    }

    .the-works .works-items-container .works-item {
        font-size: 0.9rem;
    }
}

@media (max-width: 800px) {
    .the-plans .plans-item .plans-item-features p {
        margin: .3rem .5rem;
    }

    .the-slider .slider-item h1 {
        font-size: 2rem;
    }

    .the-blog .blog-items-slider {
        padding: 1.5rem 3rem;
        padding-bottom: 1.5rem;
    }

    .the-plans .plans-item .plans-item-button .btn-plans {
        padding: .8rem 0;
        font-size: 1rem;
    }

    .the-plans .plans-container .plans-description {
        font-size: 1.2rem;
        padding: 0rem 4rem;
        padding-bottom: 1rem;
    }

    .the-catalog .catalog-container .catalog-description {
        font-size: 1.2rem;
        padding: 0rem 4rem;
        padding-bottom: 1rem;
    }
}

@media (max-width: 768px) {
    .the-works .works-container .section-title {
        min-width: unset;
    }

    .the-catalog .catalog-items-container .tab-content {
        padding: 2rem 4rem;
        padding-bottom: 1.5rem;
    }

    .the-header {
        padding: 0.8rem .5rem !important;
    }

    .section-title {
        padding: 1rem 1.5rem;
        font-size: 1rem;
        min-width: 100%;
    }

    .the-works .works-buttons-container {
        padding: 1rem;
        .display(flex);
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .the-hero .hero-items-container .hero-item {
        font-size: 1rem;
    }

}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .blog-text-content {
        max-height: 315px;
        overflow: auto;
    }

    .modal-product-text-container {
        max-height: 130px;
        overflow: auto;
    }

    .the-catalog .catalog-items-container .tab-content {
        padding: 2rem 2rem;
        padding-bottom: 1.5rem;
    }

    .the-blog .blog-items-slider {
        padding: 1.5rem 2rem;
        padding-bottom: 1.5rem;
    }

    .the-blog {
        padding: 1rem 1rem;
    }

    .the-hero {
        padding: 1.5rem 1rem;
    }

    .the-blog .blog-items-slider .owl-prev {
        left: 5px;
    }

    .the-blog .blog-items-slider .owl-next {
        right: 5px;
    }

    .the-catalog .catalog-items-container .tab-content .owl-prev {
        top: 75px;
        left: -35px;
    }

    .the-catalog .catalog-items-container .tab-content .owl-next {
        top: 75px;
        right: -35px;
    }

    .the-plans .plans-item {
        margin-bottom: 2rem;
    }

    .the-plans .plans-item:nth-child(1) {
        margin-right: 0;
    }

    .the-plans .plans-item:nth-child(2) {
        margin-top: 0;
    }

    .the-plans .plans-item:nth-child(3) {
        margin-left: 0;
    }

    .the-header .header-container .header-left-item h4 {
        font-size: 0.7rem;
        letter-spacing: 1px;
    }

    .the-header .header-container .header-left-item {
        font-size: 1.55rem;
        line-height: 1.7rem;
    }



    .the-works .works-container .works-description {
        font-size: 1rem;
        padding: 0;
        padding-bottom: 1rem;
    }

    .the-plans .plans-container .plans-description {
        font-size: 1rem;
        padding: 0;
        padding-bottom: 1rem;
    }

    .the-catalog .catalog-container .catalog-description {
        font-size: 1rem;
        padding: 0;
        padding-bottom: 1rem;
    }

    .the-catalog .catalog-items-container .nav .nav-item .nav-link {
        min-width: 130px;
        font-size: 0.9rem;
        letter-spacing: 0;
    }

    .sub-category-container {
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .sub-category-container a {
        padding: 0 0.3rem;
        border-right: 2px solid #71b6ab;
    }
}

@media (max-width: 533px) {
    .modal-product-image img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .modal-product-text-content {
        min-height: 450px;
    }

    .the-slider .slider-item h1 {
        font-size: 1.6rem;
    }

    .the-slider .slider-item h1 strong {
        font-size: 1.3rem;
    }

    .the-slider .slider-item h4 {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .the-slider .slider-item .slider-buttons {
        padding: 1rem 0;
        .display(flex);
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }

    .the-slider .slider-item .inverted .slider-buttons .btn-slider {
        padding: 1rem 1rem;
        font-size: 1.3rem;
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 1rem;
    }

    .the-slider .slider-item .slider-buttons .btn-slider {
        padding: 1rem 1rem;
        font-size: 1.3rem;
        flex: 0 0 100%;
        width: 100%;
        margin-bottom: 1rem;
    }

    .the-plans {
        padding: 2rem 1rem;
    }

    .the-plans .plans-items-container {
        padding: 1rem;
        padding-bottom: 2rem;
    }

    .the-works {
        padding: 2rem 1rem;
    }

    .the-works .works-container .section-title {
        min-width: 100%;
    }

    .the-works .works-buttons-container {
        flex-flow: column;
    }

    .the-works .works-buttons-container img {
        margin-bottom: 1.5rem;
    }

    .the-blog .blog-items-slider {
        padding: 1rem 3rem;
    }

    .the-hero {
        padding: 1rem;
    }

    .the-catalog .catalog-items-container .tab-content {
        padding: 1rem 2rem;
        padding-bottom: 1rem;
    }

    .the-catalog .catalog-items-container .tab-content .owl-prev {
        top: 15px;
        left: -35px;
    }

    .the-catalog .catalog-items-container .tab-content .owl-next {
        top: 15px;
        right: -35px;
    }

    .btn-share .sharer-buttons {
        top: 12px;
        left: -340px;
    }

    .btn-share {
        min-width: unset;
        min-height: 60px;
    }

    .btn-share span {
        top: 13px;
    }

    .btn-share:hover .sharer-buttons {
        left: 60px;
    }

    .btn-share .sharer-buttons a {
        padding: 0 1.6rem;
    }

}

@media (max-width: 414px) {
    .btn-share:hover .sharer-buttons {
        left: 44px;
    }

    .the-slider .slider-item h1 {
        font-size: 1.5rem;
    }

    .the-slider .slider-item h4 {
        font-size: 1.6rem;
        line-height: 2.1rem;
    }

    .the-slider .slider-item h1 strong {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }

    .the-plans .plans-items-container {
        padding: 1rem;
        padding-bottom: .5rem;
    }

    .the-works {
        padding: 1.5rem .5rem;
    }

    .the-works .works-container .works-description br {
        display: none;
    }

    .the-works .works-items-container .works-item {
        font-size: 1.1rem;
        padding: 0 2rem;
    }

    .the-catalog {
        padding: 2rem .5rem;
    }

    .the-catalog .catalog-items-container .nav .nav-item .nav-link {
        min-width: 90px;
        font-size: 0.9rem;
        letter-spacing: 0;
    }

    .the-catalog .catalog-items-container .tab-content {
        padding: 1rem 2rem;
        padding-bottom: 1rem;
    }

    .the-blog .blog-items-slider {
        padding: 1rem 2rem;
    }

    .the-blog {
        padding: 1.5rem 0rem;
    }

    .the-blog .blog-items-slider .owl-prev {
        left: 0px;
    }

    .the-blog .blog-items-slider .owl-next {
        right: 0px;
    }

    .footer-item img {
        display: block;
        margin: 0 auto !important;
        margin-bottom: 1rem !important;
    }

    .the-footer .footer-copy h5 {
        font-size: 1.25rem;
        margin: 0.2rem 1rem;
    }

    .slider-text {
        padding: 1.5rem;
    }
}

@media (max-width: 375px) {
    .the-blog .blog-items-slider .owl-prev {
        left: 0px;
    }

    .the-blog .blog-items-slider .owl-next {
        right: 0;
    }

    .the-blog .blog-items-slider {
        padding: 1rem 1.3rem;
    }

    .btn-share:hover .sharer-buttons {
        left: 25px;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}
